# We are making this notebook to see the performance of baseline techniques like simple imputation for handling null values. We will use these results to compare out methods with this

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../database/clean_train_data_v2.csv', index_col = 0)

In [3]:
df = df[df['TARGETS'] < 15]

In [4]:
df.head()

,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,...,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,42369099999,124.96,NaN,61.0,100.0,||HZ,9.0,27.0,FEW:01 98,29.62,...,NaN,90.0,10.0,2013,5,5,11,30,0,2.49
1,42369099999,124.96,30.06,55.0,61.0,NaN,NaN,83.0,SCT:04 20 SCT:04 100,NaN,...,NaN,NaN,2.0,2019,1,23,22,0,0,1.24
2,42452099999,273.10,NaN,51.0,67.0,NaN,9.0,57.0,NaN,29.77,...,NaN,230.0,5.0,2005,2,17,8,30,0,2.49
3,42369099999,124.96,NaN,41.0,94.0,||DU,9.0,16.0,NaN,29.55,...,NaN,0.0,0.0,1984,5,20,8,30,0,2.49
4,42503099999,31.00,NaN,55.0,82.0,NaN,9.0,39.0,NaN,30.01,...,NaN,320.0,2.0,2016,11,16,11,30,0,2.49

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 691852 to 229599
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     216905 non-null  float64
 3   HourlyDewPointTemperature  901733 non-null  float64
 4   HourlyDryBulbTemperature   907765 non-null  float64
 5   HourlyPresentWeatherType   398149 non-null  object
 6   HourlyPressureTendency     585592 non-null  float64
 7   HourlyRelativeHumidity     901133 non-null  float64
 8   HourlySeaLevelPressure     657190 non-null  float64
 9   HourlyStationPressure      23685 non-null   float64
 10  HourlyWetBulbTemperature   23530 non-null   float64
 11  HourlyWindDirection        848317 non-null  float64
 12  HourlyWindSpeed            908783 non-null  float64
 13  YEAR                       919203 non-null  int64
 14  MONTH                      919203 non-null  int64
 15  DAY                        919203 non-null  int64
 16  HOUR                       919203 non-null  int64
 17  MINUTES                    919203 non-null  int64
 18  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(6), object(1)
memory usage: 140.3+ MB

In [10]:
df.sort_values(['STATION', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTES'], inplace = True)

In [12]:
df.drop(['SECONDS', 'HourlySkyConditions'], axis = 1, inplace = True)

KeyError: "['SECONDS' 'HourlySkyConditions'] not found in axis"

In [11]:
df.reset_index(inplace = True, drop=True)

In [13]:
to_be_imputed = ['HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 'HourlySeaLevelPressure', 'HourlyStationPressure', 'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindSpeed']

In [8]:
df.corr()['TARGETS']

STATION                      0.105594
ELEVATION                    0.043640
HourlyAltimeterSetting      -0.476804
HourlyDewPointTemperature   -0.010298
HourlyDryBulbTemperature     0.203448
HourlyPressureTendency      -0.072720
HourlyRelativeHumidity      -0.221995
HourlySeaLevelPressure      -0.073030
HourlyStationPressure        0.308010
HourlyWetBulbTemperature    -0.063629
HourlyWindDirection          0.147541
HourlyWindSpeed              0.065731
YEAR                        -0.447448
MONTH                       -0.023259
DAY                          0.000570
HOUR                         0.040755
MINUTES                      0.048551
TARGETS                      1.000000
Name: TARGETS, dtype: float64

In [14]:
len(to_be_imputed)

10

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
imp1 = SimpleImputer(missing_values=np.nan, strategy='median')
df[cols] = imp1.fit_transform(df[cols])

In [21]:
df.corr()['TARGETS']

STATION                      0.105594
ELEVATION                    0.043640
HourlyAltimeterSetting      -0.136075
HourlyDewPointTemperature   -0.010244
HourlyDryBulbTemperature     0.201763
HourlyPressureTendency      -0.032986
HourlyRelativeHumidity      -0.218232
HourlySeaLevelPressure      -0.065511
HourlyStationPressure        0.043479
HourlyWetBulbTemperature    -0.007659
HourlyWindDirection          0.149239
HourlyWindSpeed              0.065004
YEAR                        -0.447448
MONTH                       -0.023259
DAY                          0.000570
HOUR                         0.040755
MINUTES                      0.048551
TARGETS                      1.000000
Name: TARGETS, dtype: float64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 934805
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     919203 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   398149 non-null  object
 6   HourlyPressureTendency     919203 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySeaLevelPressure     919203 non-null  float64
 9   HourlyStationPressure      919203 non-null  float64
 10  HourlyWetBulbTemperature   919203 non-null  float64
 11  HourlyWindDirection        919203 non-null  float64
 12  HourlyWindSpeed            919203 non-null  float64
 13  YEAR                       919203 non-null  int64
 14  MONTH                      919203 non-null  int64
 15  DAY                        919203 non-null  int64
 16  HOUR                       919203 non-null  int64
 17  MINUTES                    919203 non-null  int64
 18  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(6), object(1)
memory usage: 140.3+ MB

In [23]:
encode_cols = ["HourlyPresentWeatherType"]

In [24]:
cat_vector_1 = df[encode_cols[0]].value_counts().index
cat_vector_1

Index(['||HZ', '||DU', '||FG', '||FU', '||RA', '||TS', '||DZ', '||SHRA TS',
       '||SHRA', '||HZ DU', '||FU HZ', '||RA TS', '||HZ RA', '||FG FG', '||SH',
       '||FU FG', '||FG RA', '||TS RA', '||DZ DZ', '||HZ DZ', '||s', '||RA RA',
       '||HZ TS', '||FC', '||DU RA', '||TS SHRA TS', '||DU DU', '||SQ',
       '||DZ RA', '||FG SHRA', '||FG DZ', '||FU TS', '||HZ SHRA', '||DU TS',
       '||DU SHRA', '||SHRASN', '||HZ FG', '||DRSN', '||FZRA', '||FG RA TS',
       '||DU TS RA', '|FU |', '||RA SHRA TS', '||FZDZ', '||SHSN', '||FU DU',
       '||DU TS SHRA', '||HZ TS SHRA', '||DZ TS', '||DU DZ', '||FU FG RA',
       '||HZ TS RA', '||SG', '||SHRA TS TS', '||HZ RA TS', '||FU RA',
       '||TS DZ', '||FU DZ', '||TS TS', '||TS DU', '||PL', '||FG DU',
       '||DU FG', '||DZ SHRA TS', '||FU RA TS', '||TS FG SHRA', '||TS DU RA',
       '|DZ |', '||HZ SHRA TS', '||HZ DZ DZ', '|HZ |', '||TS SHRA'],
      dtype='object')

In [25]:
cat_vector_1 = list(cat_vector_1)

In [26]:
enc_vector_1 = [cat_vector_1.index(cat) for cat in cat_vector_1]
enc_vector_1 = [i if i<7 else 7 for i in enc_vector_1]

In [27]:
encode_dict_1 = dict(zip(cat_vector_1, enc_vector_1))

In [28]:
encode_dict_1

{'||HZ': 0,
 '||DU': 1,
 '||FG': 2,
 '||FU': 3,
 '||RA': 4,
 '||TS': 5,
 '||DZ': 6,
 '||SHRA TS': 7,
 '||SHRA': 7,
 '||HZ DU': 7,
 '||FU HZ': 7,
 '||RA TS': 7,
 '||HZ RA': 7,
 '||FG FG': 7,
 '||SH': 7,
 '||FU FG': 7,
 '||FG RA': 7,
 '||TS RA': 7,
 '||DZ DZ': 7,
 '||HZ DZ': 7,
 '||s': 7,
 '||RA RA': 7,
 '||HZ TS': 7,
 '||FC': 7,
 '||DU RA': 7,
 '||TS SHRA TS': 7,
 '||DU DU': 7,
 '||SQ': 7,
 '||DZ RA': 7,
 '||FG SHRA': 7,
 '||FG DZ': 7,
 '||FU TS': 7,
 '||HZ SHRA': 7,
 '||DU TS': 7,
 '||DU SHRA': 7,
 '||SHRASN': 7,
 '||HZ FG': 7,
 '||DRSN': 7,
 '||FZRA': 7,
 '||FG RA TS': 7,
 '||DU TS RA': 7,
 '|FU |': 7,
 '||RA SHRA TS': 7,
 '||FZDZ': 7,
 '||SHSN': 7,
 '||FU DU': 7,
 '||DU TS SHRA': 7,
 '||HZ TS SHRA': 7,
 '||DZ TS': 7,
 '||DU DZ': 7,
 '||FU FG RA': 7,
 '||HZ TS RA': 7,
 '||SG': 7,
 '||SHRA TS TS': 7,
 '||HZ RA TS': 7,
 '||FU RA': 7,
 '||TS DZ': 7,
 '||FU DZ': 7,
 '||TS TS': 7,
 '||TS DU': 7,
 '||PL': 7,
 '||FG DU': 7,
 '||DU FG': 7,
 '||DZ SHRA TS': 7,
 '||FU RA TS': 7,
 '||TS FG SHRA': 7,
 '||TS DU RA': 7,
 '|DZ |': 7,
 '||HZ SHRA TS': 7,
 '||HZ DZ DZ': 7,
 '|HZ |': 7,
 '||TS SHRA': 7}

In [29]:
# encoded from 0 to 8, 0 to 6 for major categories, 7 for minor, 8 for invalid or missing
encode_dict_1['|HZ |'] = 0
encode_dict_1['|DZ |'] = 6
encode_dict_1['|FU |'] = 3
encode_dict_1['||s'] = 8
encode_dict_1[np.nan] = 8

In [30]:
colm = df[encode_cols[0]].copy()
colm = pd.Series(map(lambda i: encode_dict_1.get(i, 8), colm))
colm.value_counts()

df[encode_cols[0]] = colm

In [31]:
df.STATION.value_counts()

42369099999    314912
42634099999    117922
42379099999    101420
42452099999     99962
42260099999     78481
42165099999     50595
42498099999     36021
42273099999     21634
42170099999     16402
42056099999     13672
42503099999     13421
42295099999     13174
42299099999      6697
42249099999      6045
42262099999      4196
42547099999      3114
42468099999      3100
42420099999      3079
42296099999      3018
42522099999      2979
42672099999      2936
42599099999      2760
42460099999      1546
42270099999      1477
42030099999       595
42117099999        19
42484099999        11
42151099999         9
42178099999         3
42074099999         2
42190099999         1
Name: STATION, dtype: int64

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

c:\users\hp\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [33]:
df.dropna(axis = 0, inplace = True)

In [34]:
y = df['TARGETS']
X = df.drop(['TARGETS'], axis = 1)

In [35]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903869 entries, 0 to 919202
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    903869 non-null  int64
 1   ELEVATION                  903869 non-null  float64
 2   HourlyAltimeterSetting     903869 non-null  float64
 3   HourlyDewPointTemperature  903869 non-null  float64
 4   HourlyDryBulbTemperature   903869 non-null  float64
 5   HourlyPresentWeatherType   903869 non-null  float64
 6   HourlyPressureTendency     903869 non-null  float64
 7   HourlyRelativeHumidity     903869 non-null  float64
 8   HourlySeaLevelPressure     903869 non-null  float64
 9   HourlyStationPressure      903869 non-null  float64
 10  HourlyWetBulbTemperature   903869 non-null  float64
 11  HourlyWindDirection        903869 non-null  float64
 12  HourlyWindSpeed            903869 non-null  float64
 13  YEAR                       903869 non-null  int64
 14  MONTH                      903869 non-null  int64
 15  DAY                        903869 non-null  int64
 16  HOUR                       903869 non-null  int64
 17  MINUTES                    903869 non-null  int64
dtypes: float64(12), int64(6)
memory usage: 131.0 MB

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 30)

In [37]:
rf = RandomForestRegressor(verbose = 5, n_jobs = -1)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903869 entries, 0 to 919202
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    903869 non-null  int64
 1   ELEVATION                  903869 non-null  float64
 2   HourlyAltimeterSetting     903869 non-null  float64
 3   HourlyDewPointTemperature  903869 non-null  float64
 4   HourlyDryBulbTemperature   903869 non-null  float64
 5   HourlyPresentWeatherType   903869 non-null  float64
 6   HourlyPressureTendency     903869 non-null  float64
 7   HourlyRelativeHumidity     903869 non-null  float64
 8   HourlySeaLevelPressure     903869 non-null  float64
 9   HourlyStationPressure      903869 non-null  float64
 10  HourlyWetBulbTemperature   903869 non-null  float64
 11  HourlyWindDirection        903869 non-null  float64
 12  HourlyWindSpeed            903869 non-null  float64
 13  YEAR                       903869 non-null  int64
 14  MONTH                      903869 non-null  int64
 15  DAY                        903869 non-null  int64
 16  HOUR                       903869 non-null  int64
 17  MINUTES                    903869 non-null  int64
 18  TARGETS                    903869 non-null  float64
dtypes: float64(13), int64(6)
memory usage: 137.9 MB

In [39]:
rf.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

building tree 1 of 100building tree 2 of 100
building tree 3 of 100
building tree 4 of 100

building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100

[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:   30.0s

building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:  3.7min

building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  6.5min finished

RandomForestRegressor(n_jobs=-1, verbose=5)

In [40]:
y_pred = rf.predict(X_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  56 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:    0.0s finished

In [41]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse, mean_absolute_error as mae

In [42]:
mse(y_test, y_pred)

2.8191490999999975

In [43]:
mae(y_test, y_pred)

0.8127533333333331