# We are making this notebook to see the performance of baseline techniques like simple imputation for handling null values. We will use these results to compare out methods with this

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt

In [71]:
df = pd.read_csv('../database/clean_train_data_v2.csv', index_col = 0)

In [72]:
df = df[df['TARGETS'] < 15]

In [73]:
df.head()

,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,...,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,42369099999,124.96,NaN,61.0,100.0,||HZ,9.0,27.0,FEW:01 98,29.62,...,NaN,90.0,10.0,2013,5,5,11,30,0,2.49
1,42369099999,124.96,30.06,55.0,61.0,NaN,NaN,83.0,SCT:04 20 SCT:04 100,NaN,...,NaN,NaN,2.0,2019,1,23,22,0,0,1.24
2,42452099999,273.10,NaN,51.0,67.0,NaN,9.0,57.0,NaN,29.77,...,NaN,230.0,5.0,2005,2,17,8,30,0,2.49
3,42369099999,124.96,NaN,41.0,94.0,||DU,9.0,16.0,NaN,29.55,...,NaN,0.0,0.0,1984,5,20,8,30,0,2.49
4,42503099999,31.00,NaN,55.0,82.0,NaN,9.0,39.0,NaN,30.01,...,NaN,320.0,2.0,2016,11,16,11,30,0,2.49

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 934805
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     216905 non-null  float64
 3   HourlyDewPointTemperature  901733 non-null  float64
 4   HourlyDryBulbTemperature   907765 non-null  float64
 5   HourlyPresentWeatherType   398149 non-null  object
 6   HourlyPressureTendency     585592 non-null  float64
 7   HourlyRelativeHumidity     901133 non-null  float64
 8   HourlySkyConditions        498095 non-null  object
 9   HourlySeaLevelPressure     657190 non-null  float64
 10  HourlyStationPressure      23685 non-null   float64
 11  HourlyWetBulbTemperature   23530 non-null   float64
 12  HourlyWindDirection        848317 non-null  float64
 13  HourlyWindSpeed            908783 non-null  float64
 14  YEAR                       919203 non-null  int64
 15  MONTH                      919203 non-null  int64
 16  DAY                        919203 non-null  int64
 17  HOUR                       919203 non-null  int64
 18  MINUTES                    919203 non-null  int64
 19  SECONDS                    919203 non-null  int64
 20  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(7), object(2)
memory usage: 154.3+ MB

In [75]:
df.drop(['SECONDS', 'HourlySkyConditions'], axis = 1, inplace = True)

In [76]:
df.corr()['TARGETS']

STATION                      0.105594
ELEVATION                    0.043640
HourlyAltimeterSetting      -0.476804
HourlyDewPointTemperature   -0.010298
HourlyDryBulbTemperature     0.203448
HourlyPressureTendency      -0.072720
HourlyRelativeHumidity      -0.221995
HourlySeaLevelPressure      -0.073030
HourlyStationPressure        0.308010
HourlyWetBulbTemperature    -0.063629
HourlyWindDirection          0.147541
HourlyWindSpeed              0.065731
YEAR                        -0.447448
MONTH                       -0.023259
DAY                          0.000570
HOUR                         0.040755
MINUTES                      0.048551
TARGETS                      1.000000
Name: TARGETS, dtype: float64

In [77]:
cols = ['HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPressureTendency', 
       'HourlyRelativeHumidity', 'HourlySeaLevelPressure', 'HourlyStationPressure', 'HourlyWetBulbTemperature', 
       'HourlyWindDirection', 'HourlyWindSpeed']

In [78]:
from sklearn.impute import SimpleImputer

In [79]:
imp1 = SimpleImputer(missing_values=np.nan, strategy='median')
df[cols] = imp1.fit_transform(df[cols])

In [120]:
df.corr()['TARGETS']

STATION                      0.105700
ELEVATION                    0.043297
HourlyAltimeterSetting      -0.136097
HourlyDewPointTemperature   -0.009986
HourlyDryBulbTemperature     0.201829
HourlyPresentWeatherType    -0.000709
HourlyPressureTendency      -0.033140
HourlyRelativeHumidity      -0.218091
HourlySeaLevelPressure      -0.065476
HourlyStationPressure        0.043531
HourlyWetBulbTemperature    -0.007664
HourlyWindDirection          0.149124
HourlyWindSpeed              0.064505
YEAR                        -0.447363
MONTH                       -0.023421
DAY                          0.000403
HOUR                         0.040861
MINUTES                      0.048626
TARGETS                      1.000000
Name: TARGETS, dtype: float64

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 934805
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     919203 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   398149 non-null  object
 6   HourlyPressureTendency     919203 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySeaLevelPressure     919203 non-null  float64
 9   HourlyStationPressure      919203 non-null  float64
 10  HourlyWetBulbTemperature   919203 non-null  float64
 11  HourlyWindDirection        919203 non-null  float64
 12  HourlyWindSpeed            919203 non-null  float64
 13  YEAR                       919203 non-null  int64
 14  MONTH                      919203 non-null  int64
 15  DAY                        919203 non-null  int64
 16  HOUR                       919203 non-null  int64
 17  MINUTES                    919203 non-null  int64
 18  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(6), object(1)
memory usage: 140.3+ MB

In [81]:
encode_cols = ["HourlyPresentWeatherType"]

In [82]:
cat_vector_1 = df[encode_cols[0]].value_counts().index
cat_vector_1

Index(['||HZ', '||DU', '||FG', '||FU', '||RA', '||TS', '||DZ', '||SHRA TS',
       '||SHRA', '||HZ DU', '||FU HZ', '||RA TS', '||HZ RA', '||FG FG', '||SH',
       '||FU FG', '||FG RA', '||TS RA', '||DZ DZ', '||HZ DZ', '||s', '||RA RA',
       '||HZ TS', '||DU RA', '||FC', '||TS SHRA TS', '||DU DU', '||SQ',
       '||DZ RA', '||FG SHRA', '||FG DZ', '||FU TS', '||HZ SHRA', '||DU TS',
       '||DU SHRA', '||SHRASN', '||FG RA TS', '||DU TS RA', '||DRSN',
       '||HZ FG', '||FZRA', '||RA SHRA TS', '|FU |', '||DU TS SHRA', '||FZDZ',
       '||SHSN', '||FU DU', '||HZ TS SHRA', '||HZ TS RA', '||SHRA TS TS',
       '||DU DZ', '||DZ TS', '||FU FG RA', '||SG', '||HZ RA TS', '|HZ |',
       '||FU RA', '||FG DU', '||TS DU', '||FU DZ', '||TS TS', '||TS DZ',
       '|DZ |', '||TS SHRA', '||DZ SHRA TS', '||DU FG', '||HZ DZ DZ',
       '||HZ SHRA TS', '||TS FG SHRA', '||TS DU RA', '||PL', '||FU RA TS'],
      dtype='object')

In [83]:
cat_vector_1 = list(cat_vector_1)

In [84]:
enc_vector_1 = [cat_vector_1.index(cat) for cat in cat_vector_1]
enc_vector_1 = [i if i<7 else 7 for i in enc_vector_1]

In [85]:
encode_dict_1 = dict(zip(cat_vector_1, enc_vector_1))

In [86]:
encode_dict_1

{'||HZ': 0,
 '||DU': 1,
 '||FG': 2,
 '||FU': 3,
 '||RA': 4,
 '||TS': 5,
 '||DZ': 6,
 '||SHRA TS': 7,
 '||SHRA': 7,
 '||HZ DU': 7,
 '||FU HZ': 7,
 '||RA TS': 7,
 '||HZ RA': 7,
 '||FG FG': 7,
 '||SH': 7,
 '||FU FG': 7,
 '||FG RA': 7,
 '||TS RA': 7,
 '||DZ DZ': 7,
 '||HZ DZ': 7,
 '||s': 7,
 '||RA RA': 7,
 '||HZ TS': 7,
 '||DU RA': 7,
 '||FC': 7,
 '||TS SHRA TS': 7,
 '||DU DU': 7,
 '||SQ': 7,
 '||DZ RA': 7,
 '||FG SHRA': 7,
 '||FG DZ': 7,
 '||FU TS': 7,
 '||HZ SHRA': 7,
 '||DU TS': 7,
 '||DU SHRA': 7,
 '||SHRASN': 7,
 '||FG RA TS': 7,
 '||DU TS RA': 7,
 '||DRSN': 7,
 '||HZ FG': 7,
 '||FZRA': 7,
 '||RA SHRA TS': 7,
 '|FU |': 7,
 '||DU TS SHRA': 7,
 '||FZDZ': 7,
 '||SHSN': 7,
 '||FU DU': 7,
 '||HZ TS SHRA': 7,
 '||HZ TS RA': 7,
 '||SHRA TS TS': 7,
 '||DU DZ': 7,
 '||DZ TS': 7,
 '||FU FG RA': 7,
 '||SG': 7,
 '||HZ RA TS': 7,
 '|HZ |': 7,
 '||FU RA': 7,
 '||FG DU': 7,
 '||TS DU': 7,
 '||FU DZ': 7,
 '||TS TS': 7,
 '||TS DZ': 7,
 '|DZ |': 7,
 '||TS SHRA': 7,
 '||DZ SHRA TS': 7,
 '||DU FG': 7,
 '||HZ DZ DZ': 7,
 '||HZ SHRA TS': 7,
 '||TS FG SHRA': 7,
 '||TS DU RA': 7,
 '||PL': 7,
 '||FU RA TS': 7}

In [87]:
# encoded from 0 to 8, 0 to 6 for major categories, 7 for minor, 8 for invalid or missing
encode_dict_1['|HZ |'] = 0
encode_dict_1['|DZ |'] = 6
encode_dict_1['|FU |'] = 3
encode_dict_1['||s'] = 8
encode_dict_1[np.nan] = 8

In [88]:
colm = df[encode_cols[0]].copy()
colm = pd.Series(map(lambda i: encode_dict_1.get(i, 8), colm))
colm.value_counts()

df[encode_cols[0]] = colm

In [89]:
df.STATION.value_counts()

42369099999    314912
42634099999    117922
42379099999    101420
42452099999     99962
42260099999     78481
42165099999     50595
42498099999     36021
42273099999     21634
42170099999     16402
42056099999     13672
42503099999     13421
42295099999     13174
42299099999      6697
42249099999      6045
42262099999      4196
42547099999      3114
42468099999      3100
42420099999      3079
42296099999      3018
42522099999      2979
42672099999      2936
42599099999      2760
42460099999      1546
42270099999      1477
42030099999       595
42117099999        19
42484099999        11
42151099999         9
42178099999         3
42074099999         2
42190099999         1
Name: STATION, dtype: int64

In [90]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [98]:
df.dropna(axis = 0, inplace = True)

In [99]:
y = df['TARGETS']
X = df.drop(['TARGETS'], axis = 1)

In [100]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903869 entries, 0 to 919202
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    903869 non-null  int64
 1   ELEVATION                  903869 non-null  float64
 2   HourlyAltimeterSetting     903869 non-null  float64
 3   HourlyDewPointTemperature  903869 non-null  float64
 4   HourlyDryBulbTemperature   903869 non-null  float64
 5   HourlyPresentWeatherType   903869 non-null  float64
 6   HourlyPressureTendency     903869 non-null  float64
 7   HourlyRelativeHumidity     903869 non-null  float64
 8   HourlySeaLevelPressure     903869 non-null  float64
 9   HourlyStationPressure      903869 non-null  float64
 10  HourlyWetBulbTemperature   903869 non-null  float64
 11  HourlyWindDirection        903869 non-null  float64
 12  HourlyWindSpeed            903869 non-null  float64
 13  YEAR                       903869 non-null  int64
 14  MONTH                      903869 non-null  int64
 15  DAY                        903869 non-null  int64
 16  HOUR                       903869 non-null  int64
 17  MINUTES                    903869 non-null  int64
dtypes: float64(12), int64(6)
memory usage: 131.0 MB

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 30)

In [110]:
rf = RandomForestRegressor(criterion = 'squared_error', max_features = 'sqrt', bootstrap = False, max_depth = 30, min_samples_leaf = 2, 
                          min_samples_split = 4, n_estimators = 200, verbose = 5, n_jobs = -1)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903869 entries, 0 to 919202
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    903869 non-null  int64
 1   ELEVATION                  903869 non-null  float64
 2   HourlyAltimeterSetting     903869 non-null  float64
 3   HourlyDewPointTemperature  903869 non-null  float64
 4   HourlyDryBulbTemperature   903869 non-null  float64
 5   HourlyPresentWeatherType   903869 non-null  float64
 6   HourlyPressureTendency     903869 non-null  float64
 7   HourlyRelativeHumidity     903869 non-null  float64
 8   HourlySeaLevelPressure     903869 non-null  float64
 9   HourlyStationPressure      903869 non-null  float64
 10  HourlyWetBulbTemperature   903869 non-null  float64
 11  HourlyWindDirection        903869 non-null  float64
 12  HourlyWindSpeed            903869 non-null  float64
 13  YEAR                       903869 non-null  int64
 14  MONTH                      903869 non-null  int64
 15  DAY                        903869 non-null  int64
 16  HOUR                       903869 non-null  int64
 17  MINUTES                    903869 non-null  int64
 18  TARGETS                    903869 non-null  float64
dtypes: float64(13), int64(6)
memory usage: 137.9 MB

In [113]:
rf.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

building tree 1 of 200building tree 2 of 200building tree 3 of 200

building tree 4 of 200
building tree 5 of 200
building tree 6 of 200
building tree 7 of 200

building tree 8 of 200
building tree 9 of 200
building tree 10 of 200

[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:   11.3s

building tree 11 of 200
building tree 12 of 200
building tree 13 of 200
building tree 14 of 200
building tree 15 of 200
building tree 16 of 200
building tree 17 of 200
building tree 18 of 200
building tree 19 of 200
building tree 20 of 200
building tree 21 of 200
building tree 22 of 200
building tree 23 of 200
building tree 24 of 200
building tree 25 of 200
building tree 26 of 200
building tree 27 of 200
building tree 28 of 200
building tree 29 of 200
building tree 30 of 200
building tree 31 of 200
building tree 32 of 200
building tree 33 of 200
building tree 34 of 200
building tree 35 of 200
building tree 36 of 200
building tree 37 of 200
building tree 38 of 200
building tree 39 of 200
building tree 40 of 200
building tree 41 of 200
building tree 42 of 200
building tree 43 of 200
building tree 44 of 200
building tree 45 of 200
building tree 46 of 200
building tree 47 of 200
building tree 48 of 200
building tree 49 of 200
building tree 50 of 200
building tree 51 of 200
building tree 52 of 200
building tree 53 of 200
building tree 54 of 200
building tree 55 of 200
building tree 56 of 200
building tree 57 of 200
building tree 58 of 200
building tree 59 of 200
building tree 60 of 200
building tree 61 of 200
building tree 62 of 200
building tree 63 of 200
building tree 64 of 200

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:  1.8min

building tree 65 of 200
building tree 66 of 200
building tree 67 of 200
building tree 68 of 200
building tree 69 of 200
building tree 70 of 200
building tree 71 of 200
building tree 72 of 200
building tree 73 of 200
building tree 74 of 200
building tree 75 of 200
building tree 76 of 200
building tree 77 of 200
building tree 78 of 200
building tree 79 of 200
building tree 80 of 200
building tree 81 of 200
building tree 82 of 200
building tree 83 of 200
building tree 84 of 200
building tree 85 of 200
building tree 86 of 200
building tree 87 of 200
building tree 88 of 200
building tree 89 of 200
building tree 90 of 200
building tree 91 of 200
building tree 92 of 200
building tree 93 of 200
building tree 94 of 200
building tree 95 of 200
building tree 96 of 200
building tree 97 of 200
building tree 98 of 200
building tree 99 of 200
building tree 100 of 200
building tree 101 of 200
building tree 102 of 200
building tree 103 of 200
building tree 104 of 200
building tree 105 of 200
building tree 106 of 200
building tree 107 of 200
building tree 108 of 200
building tree 109 of 200
building tree 110 of 200
building tree 111 of 200
building tree 112 of 200
building tree 113 of 200
building tree 114 of 200
building tree 115 of 200
building tree 116 of 200
building tree 117 of 200
building tree 118 of 200
building tree 119 of 200
building tree 120 of 200
building tree 121 of 200
building tree 122 of 200
building tree 123 of 200
building tree 124 of 200
building tree 125 of 200
building tree 126 of 200
building tree 127 of 200
building tree 128 of 200
building tree 129 of 200
building tree 130 of 200
building tree 131 of 200
building tree 132 of 200
building tree 133 of 200
building tree 134 of 200
building tree 135 of 200
building tree 136 of 200
building tree 137 of 200
building tree 138 of 200
building tree 139 of 200
building tree 140 of 200
building tree 141 of 200
building tree 142 of 200
building tree 143 of 200
building tree 144 of 200
building tree 145 of 200
building tree 146 of 200
building tree 147 of 200
building tree 148 of 200
building tree 149 of 200
building tree 150 of 200
building tree 151 of 200
building tree 152 of 200
building tree 153 of 200
building tree 154 of 200

[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  4.2min

building tree 155 of 200
building tree 156 of 200
building tree 157 of 200
building tree 158 of 200
building tree 159 of 200
building tree 160 of 200
building tree 161 of 200
building tree 162 of 200
building tree 163 of 200
building tree 164 of 200
building tree 165 of 200
building tree 166 of 200
building tree 167 of 200
building tree 168 of 200
building tree 169 of 200
building tree 170 of 200
building tree 171 of 200
building tree 172 of 200
building tree 173 of 200
building tree 174 of 200
building tree 175 of 200
building tree 176 of 200
building tree 177 of 200
building tree 178 of 200
building tree 179 of 200
building tree 180 of 200
building tree 181 of 200
building tree 182 of 200
building tree 183 of 200
building tree 184 of 200
building tree 185 of 200
building tree 186 of 200
building tree 187 of 200
building tree 188 of 200
building tree 189 of 200
building tree 190 of 200
building tree 191 of 200
building tree 192 of 200
building tree 193 of 200
building tree 194 of 200
building tree 195 of 200
building tree 196 of 200
building tree 197 of 200
building tree 198 of 200
building tree 199 of 200
building tree 200 of 200

[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  5.5min finished

RandomForestRegressor(bootstrap=False, max_depth=30, max_features='sqrt',
                      min_samples_leaf=2, min_samples_split=4, n_estimators=200,
                      n_jobs=-1, verbose=5)

In [114]:
y_pred = rf.predict(X_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  56 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 146 tasks      | elapsed:    0.4s
[Parallel(n_jobs=8)]: Done 200 out of 200 | elapsed:    0.4s finished

In [115]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse

In [117]:
mse(y_test, y_pred)

0.2638316731177325