In [42]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [43]:
df = pd.read_csv('../database/clean_train_data_v3.csv', index_col = 0)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 919202
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   398149 non-null  object
 6   HourlyPressureTendency     861468 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySkyConditions        498095 non-null  object
 9   HourlySeaLevelPressure     919203 non-null  float64
 10  HourlyStationPressure      798621 non-null  float64
 11  HourlyWetBulbTemperature   794412 non-null  float64
 12  HourlyWindDirection        919203 non-null  float64
 13  HourlyWindSpeed            919203 non-null  float64
 14  YEAR                       919203 non-null  int64
 15  MONTH                      919203 non-null  int64
 16  DAY                        919203 non-null  int64
 17  HOUR                       919203 non-null  int64
 18  MINUTES                    919203 non-null  int64
 19  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(6), object(2)
memory usage: 147.3+ MB

In [45]:
encode_cols = ["HourlyPresentWeatherType", "HourlySkyConditions"]

In [46]:
for col in encode_cols:
    print(f"Feature: {col}")
#     df[col].info()
    print("\n")

Feature: HourlyPresentWeatherType


Feature: HourlySkyConditions

In [47]:
for col in encode_cols:
    print(f"Feature: {col}")
    print(df[col].value_counts())
    print("\n")

Feature: HourlyPresentWeatherType
||HZ          282536
||DU           31200
||FG           25780
||FU           23407
||RA           18030
               ...
||FU DZ            1
|DZ |              1
|HZ |              1
||FU RA TS         1
||PL               1
Name: HourlyPresentWeatherType, Length: 72, dtype: int64


Feature: HourlySkyConditions
CLR:00                           106217
0  0                              15869
FEW:02 98                         10659
FEW:02 20                          9709
FEW:02 197                         9167
                                  ...
FEW:02 12 BKN:07 20 FEW:02            1
BKN:07 12 BKN:07 15                   1
BKN:06 20 FEW:01 30 BKN:07 89         1
FEW:02 15 BKN:07 20 BKN:07 98         1
SCT:03 89 SCT:04 217                  1
Name: HourlySkyConditions, Length: 14860, dtype: int64

In [48]:
cat_vector_1 = df[encode_cols[0]].value_counts().index
cat_vector_1

Index(['||HZ', '||DU', '||FG', '||FU', '||RA', '||TS', '||DZ', '||SHRA TS',
       '||SHRA', '||HZ DU', '||FU HZ', '||RA TS', '||HZ RA', '||FG FG', '||SH',
       '||FU FG', '||FG RA', '||TS RA', '||DZ DZ', '||HZ DZ', '||s', '||RA RA',
       '||HZ TS', '||FC', '||DU RA', '||TS SHRA TS', '||DU DU', '||SQ',
       '||DZ RA', '||FG SHRA', '||FG DZ', '||HZ SHRA', '||FU TS', '||DU TS',
       '||DU SHRA', '||SHRASN', '||DRSN', '||FZRA', '||FG RA TS', '||DU TS RA',
       '||HZ FG', '|FU |', '||RA SHRA TS', '||SHSN', '||FU DU', '||HZ TS SHRA',
       '||FZDZ', '||DU TS SHRA', '||DU DZ', '||FU FG RA', '||DZ TS',
       '||SHRA TS TS', '||HZ TS RA', '||HZ RA TS', '||SG', '||TS DU',
       '||TS FG SHRA', '||TS TS', '||FG DU', '||TS DU RA', '||TS SHRA',
       '||DZ SHRA TS', '||DU FG', '||TS DZ', '||HZ DZ DZ', '||HZ SHRA TS',
       '||FU RA', '||FU DZ', '|DZ |', '|HZ |', '||FU RA TS', '||PL'],
      dtype='object')

In [49]:
cat_vector_1 = list(cat_vector_1)

In [50]:
enc_vector_1 = [cat_vector_1.index(cat) for cat in cat_vector_1]
enc_vector_1 = [i if i<7 else 7 for i in enc_vector_1]

In [51]:
encode_dict_1 = dict(zip(cat_vector_1, enc_vector_1))

In [52]:
encode_dict_1

{'||HZ': 0,
 '||DU': 1,
 '||FG': 2,
 '||FU': 3,
 '||RA': 4,
 '||TS': 5,
 '||DZ': 6,
 '||SHRA TS': 7,
 '||SHRA': 7,
 '||HZ DU': 7,
 '||FU HZ': 7,
 '||RA TS': 7,
 '||HZ RA': 7,
 '||FG FG': 7,
 '||SH': 7,
 '||FU FG': 7,
 '||FG RA': 7,
 '||TS RA': 7,
 '||DZ DZ': 7,
 '||HZ DZ': 7,
 '||s': 7,
 '||RA RA': 7,
 '||HZ TS': 7,
 '||FC': 7,
 '||DU RA': 7,
 '||TS SHRA TS': 7,
 '||DU DU': 7,
 '||SQ': 7,
 '||DZ RA': 7,
 '||FG SHRA': 7,
 '||FG DZ': 7,
 '||HZ SHRA': 7,
 '||FU TS': 7,
 '||DU TS': 7,
 '||DU SHRA': 7,
 '||SHRASN': 7,
 '||DRSN': 7,
 '||FZRA': 7,
 '||FG RA TS': 7,
 '||DU TS RA': 7,
 '||HZ FG': 7,
 '|FU |': 7,
 '||RA SHRA TS': 7,
 '||SHSN': 7,
 '||FU DU': 7,
 '||HZ TS SHRA': 7,
 '||FZDZ': 7,
 '||DU TS SHRA': 7,
 '||DU DZ': 7,
 '||FU FG RA': 7,
 '||DZ TS': 7,
 '||SHRA TS TS': 7,
 '||HZ TS RA': 7,
 '||HZ RA TS': 7,
 '||SG': 7,
 '||TS DU': 7,
 '||TS FG SHRA': 7,
 '||TS TS': 7,
 '||FG DU': 7,
 '||TS DU RA': 7,
 '||TS SHRA': 7,
 '||DZ SHRA TS': 7,
 '||DU FG': 7,
 '||TS DZ': 7,
 '||HZ DZ DZ': 7,
 '||HZ SHRA TS': 7,
 '||FU RA': 7,
 '||FU DZ': 7,
 '|DZ |': 7,
 '|HZ |': 7,
 '||FU RA TS': 7,
 '||PL': 7}

In [53]:
# encoded from 0 to 8, 0 to 6 for major categories, 7 for minor, 8 for invalid or missing
encode_dict_1['|HZ |'] = 0
encode_dict_1['|DZ |'] = 6
encode_dict_1['|FU |'] = 3
encode_dict_1['||s'] = 8
encode_dict_1[np.nan] = 8

In [54]:
colm = df[encode_cols[0]].copy()
colm = pd.Series(map(lambda i: encode_dict_1.get(i, 8), colm))
colm.value_counts()

df[encode_cols[0]] = colm

In [55]:
df[encode_cols[1]].value_counts()[0:30]

CLR:00                            106217
0  0                               15869
FEW:02 98                          10659
FEW:02 20                           9709
FEW:02 197                          9167
FEW:02 25                           7453
SCT:03 20                           6450
VV:09                               5528
SCT:04 20 BKN:07 100                5433
SCT:04 20                           5222
SCT:03 98                           4801
FEW:02 20 SCT:04 100                4255
SCT:04 197                          4096
SCT:03 25                           4082
SCT:03 197                          4055
FEW:01 98                           3569
FEW:02 30                           3455
FEW:01 20                           3381
FEW:02 100                          3326
SCT:04 26                           3251
FEW:01 25                           3206
15                                  3151
SCT:04 25                           3138
FEW:02 20 SCT:04 98                 3019
SCT:04 20 SCT:04 25 FEW:02 30       2947
SCT:04 20 SCT:04 25                 2756
SCT:03 26                           2755
SCT:04 20 SCT:04 25 BKN:07 100      2593
FEW:01 246                          2587
BKN:05 20                           2573
Name: HourlySkyConditions, dtype: int64

In [56]:
cat_vector_2 = df[encode_cols[1]].value_counts().index
cat_vector_2

Index(['CLR:00', '0  0', 'FEW:02 98', 'FEW:02 20', 'FEW:02 197', 'FEW:02 25',
       'SCT:03 20', 'VV:09', 'SCT:04 20 BKN:07 100', 'SCT:04 20',
       ...
       'BKN:05 8 OVC:08 148', 'FEW:01 30 SCT:03 89 BKN:06 197',
       'FEW:01 20 FEW:02  FEW:02', 'FEW:02 15 FEW:02 30 SCT:04 197',
       'SCT:04 18 SCT:03 25 BKN:05 89', 'FEW:02 12 BKN:07 20 FEW:02',
       'BKN:07 12 BKN:07 15', 'BKN:06 20 FEW:01 30 BKN:07 89',
       'FEW:02 15 BKN:07 20 BKN:07 98', 'SCT:03 89 SCT:04 217'],
      dtype='object', length=14860)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 919202
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   919203 non-null  int64
 6   HourlyPressureTendency     861468 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySkyConditions        498095 non-null  object
 9   HourlySeaLevelPressure     919203 non-null  float64
 10  HourlyStationPressure      798621 non-null  float64
 11  HourlyWetBulbTemperature   794412 non-null  float64
 12  HourlyWindDirection        919203 non-null  float64
 13  HourlyWindSpeed            919203 non-null  float64
 14  YEAR                       919203 non-null  int64
 15  MONTH                      919203 non-null  int64
 16  DAY                        919203 non-null  int64
 17  HOUR                       919203 non-null  int64
 18  MINUTES                    919203 non-null  int64
 19  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(7), object(1)
memory usage: 147.3+ MB

In [58]:
df.STATION.value_counts()

42369099999    314912
42634099999    117922
42379099999    101420
42452099999     99962
42260099999     78481
42165099999     50595
42498099999     36021
42273099999     21634
42170099999     16402
42056099999     13672
42503099999     13421
42295099999     13174
42299099999      6697
42249099999      6045
42262099999      4196
42547099999      3114
42468099999      3100
42420099999      3079
42296099999      3018
42522099999      2979
42672099999      2936
42599099999      2760
42460099999      1546
42270099999      1477
42030099999       595
42117099999        19
42484099999        11
42151099999         9
42178099999         3
42074099999         2
42190099999         1
Name: STATION, dtype: int64

In [59]:
df.to_csv("../database/clean_train_data_v4.csv")

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 919202
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   919203 non-null  int64
 6   HourlyPressureTendency     861468 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySkyConditions        498095 non-null  object
 9   HourlySeaLevelPressure     919203 non-null  float64
 10  HourlyStationPressure      798621 non-null  float64
 11  HourlyWetBulbTemperature   794412 non-null  float64
 12  HourlyWindDirection        919203 non-null  float64
 13  HourlyWindSpeed            919203 non-null  float64
 14  YEAR                       919203 non-null  int64
 15  MONTH                      919203 non-null  int64
 16  DAY                        919203 non-null  int64
 17  HOUR                       919203 non-null  int64
 18  MINUTES                    919203 non-null  int64
 19  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(7), object(1)
memory usage: 147.3+ MB