In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('../database/clean_train_data.csv', index_col = 0)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,11,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,...,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,42369099999,124.96,NaN,61,100,||HZ,9.0,27.0,FEW:01 98,29.62,...,NaN,90,10,2013,5,5,11,30,0,2.49
1,42369099999,124.96,30.06,55,61,NaN,NaN,83.0,SCT:04 20 SCT:04 100,NaN,...,NaN,VRB,2,2019,1,23,22,0,0,1.24
2,42452099999,273.10,NaN,51,67,NaN,9.0,57.0,NaN,29.77,...,NaN,230,5,2005,2,17,8,30,0,2.49
3,42369099999,124.96,NaN,41,94,||DU,9.0,16.0,NaN,29.55,...,NaN,0,0,1984,5,20,8,30,0,2.49
4,42503099999,31.00,NaN,55,82,NaN,9.0,39.0,NaN,30.01,...,NaN,320,2,2016,11,16,11,30,0,2.49

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934807 entries, 0 to 934806
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    934807 non-null  int64
 1   ELEVATION                  934807 non-null  float64
 2   HourlyAltimeterSetting     217039 non-null  object
 3   HourlyDewPointTemperature  916829 non-null  object
 4   HourlyDryBulbTemperature   923010 non-null  object
 5   HourlyPresentWeatherType   398691 non-null  object
 6   HourlyPressureTendency     586427 non-null  float64
 7   HourlyRelativeHumidity     916208 non-null  float64
 8   HourlySkyConditions        507788 non-null  object
 9   HourlySeaLevelPressure     670809 non-null  object
 10  HourlyStationPressure      24403 non-null   object
 11  HourlyWetBulbTemperature   24222 non-null   float64
 12  HourlyWindDirection        925461 non-null  object
 13  HourlyWindSpeed            924185 non-null  object
 14  YEAR                       934807 non-null  int64
 15  MONTH                      934807 non-null  int64
 16  DAY                        934807 non-null  int64
 17  HOUR                       934807 non-null  int64
 18  MINUTES                    934807 non-null  int64
 19  SECONDS                    934807 non-null  int64
 20  TARGETS                    934807 non-null  object
dtypes: float64(4), int64(7), object(10)
memory usage: 156.9+ MB

In [5]:
def get_numeric(string):
    try:
        return float(string)
    except:
        if type(string) is str:
            reg = re.compile(r"(?P<num>-?\d+)(?P<dec>\.\d+)?")
            m = reg.match(string)
            if m:
                num = m.groupdict().get('num')
                dec = m.groupdict().get('dec')
                if dec:
                    return float(num+dec)
                else:
                    return float(num)
        else:
            return np.nan

In [6]:
df.HourlyAltimeterSetting.value_counts()

29.94     10804
29.91     10433
29.97     10386
29.59      9941
29.53      9922
          ...
30.24         1
29.41s        1
29.53s        1
30.09s        1
29.71s        1
Name: HourlyAltimeterSetting, Length: 106, dtype: int64

In [7]:
# print(df.HourlyAltimeterSetting.info())
df['HourlyAltimeterSetting'] = df['HourlyAltimeterSetting'].apply(get_numeric)
# df.HourlyAltimeterSetting.info

In [8]:
# print(df.HourlyDewPointTemperature.info())
df['HourlyDewPointTemperature'] = df['HourlyDewPointTemperature'].apply(get_numeric)
# print(df.HourlyDewPointTemperature.info())

In [9]:
# print(df.HourlyDryBulbTemperature.info())
df['HourlyDryBulbTemperature'] = df['HourlyDryBulbTemperature'].apply(get_numeric)
# print(df.HourlyDryBulbTemperature.info())

In [10]:
# print(df.HourlySeaLevelPressure.info())
df['HourlySeaLevelPressure'] = df['HourlySeaLevelPressure'].apply(get_numeric)
# print(df.HourlySeaLevelPressure.info())

In [11]:
# print(df.HourlyStationPressure.info())
df['HourlyStationPressure'] = df['HourlyStationPressure'].apply(get_numeric)
# print(df.HourlyStationPressure.info())

In [12]:
# print(df.HourlyWindSpeed.info())
df['HourlyWindSpeed'] = df['HourlyWindSpeed'].apply(get_numeric)
# print(df.HourlyWindSpeed.info())

In [13]:
# print(df.HourlyWindDirection.info())
df['HourlyWindDirection'] = df['HourlyWindDirection'].apply(get_numeric)
# print(df.HourlyWindDirection.info())

In [14]:
# print(df.TARGETS.info())
df['TARGETS'] = df['TARGETS'].apply(get_numeric)
# print(df.TARGETS.info())

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934807 entries, 0 to 934806
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    934807 non-null  int64
 1   ELEVATION                  934807 non-null  float64
 2   HourlyAltimeterSetting     217039 non-null  float64
 3   HourlyDewPointTemperature  916829 non-null  float64
 4   HourlyDryBulbTemperature   923010 non-null  float64
 5   HourlyPresentWeatherType   398691 non-null  object
 6   HourlyPressureTendency     586427 non-null  float64
 7   HourlyRelativeHumidity     916208 non-null  float64
 8   HourlySkyConditions        507788 non-null  object
 9   HourlySeaLevelPressure     670809 non-null  float64
 10  HourlyStationPressure      24403 non-null   float64
 11  HourlyWetBulbTemperature   24222 non-null   float64
 12  HourlyWindDirection        863718 non-null  float64
 13  HourlyWindSpeed            924185 non-null  float64
 14  YEAR                       934807 non-null  int64
 15  MONTH                      934807 non-null  int64
 16  DAY                        934807 non-null  int64
 17  HOUR                       934807 non-null  int64
 18  MINUTES                    934807 non-null  int64
 19  SECONDS                    934807 non-null  int64
 20  TARGETS                    934807 non-null  float64
dtypes: float64(12), int64(7), object(2)
memory usage: 156.9+ MB

In [16]:
df.to_csv(r"D:\IISERB\3rd Year 2nd sem\Data Science and Machine Learning\Spatiotemporal_Extreme_Event_Prediction_using_ML\database\clean_train_data_v2.csv")

In [17]:
df.HourlyPresentWeatherType.value_counts()

||HZ         282782
||DU          31236
||FG          25866
||FU          23421
||RA          18102
              ...
|DZ |             1
||FG DU           1
||TS DU           1
||FU RA           1
||TS SHRA         1
Name: HourlyPresentWeatherType, Length: 72, dtype: int64

In [ ]:
pd.set_option('display.max_rows', 100)