In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('../database/clean_train_data.csv', index_col = 0)

C:\Users\JAYDEV~1\AppData\Local\Temp/ipykernel_11316/1705723515.py:1: DtypeWarning: Columns (4,12,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../database/clean_train_data.csv', index_col = 0)

In [3]:
df.head()

,LATITUDE,LONGITUDE,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,...,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,26.760594,80.889339,124.96,NaN,61,100,||HZ,9.0,27.0,FEW:01 98,...,NaN,90,10,2013,5,5,11,30,0,2.49
1,26.760594,80.889339,124.96,30.06,55,61,NaN,NaN,83.0,SCT:04 20 SCT:04 100,...,NaN,VRB,2,2019,1,23,22,0,0,1.24
2,25.160219,75.845631,273.10,NaN,51,67,NaN,9.0,57.0,NaN,...,NaN,230,5,2005,2,17,8,30,0,2.49
3,26.760594,80.889339,124.96,NaN,41,94,||DU,9.0,16.0,NaN,...,NaN,0,0,1984,5,20,8,30,0,2.49
4,25.033333,88.133333,31.00,NaN,55,82,NaN,9.0,39.0,NaN,...,NaN,320,2,2016,11,16,11,30,0,2.49

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934807 entries, 0 to 934806
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   LATITUDE                   934807 non-null  float64
 1   LONGITUDE                  934807 non-null  float64
 2   ELEVATION                  934807 non-null  float64
 3   HourlyAltimeterSetting     217039 non-null  object
 4   HourlyDewPointTemperature  916829 non-null  object
 5   HourlyDryBulbTemperature   923010 non-null  object
 6   HourlyPresentWeatherType   398691 non-null  object
 7   HourlyPressureTendency     586427 non-null  float64
 8   HourlyRelativeHumidity     916208 non-null  float64
 9   HourlySkyConditions        507788 non-null  object
 10  HourlySeaLevelPressure     670809 non-null  object
 11  HourlyStationPressure      24403 non-null   object
 12  HourlyWetBulbTemperature   24222 non-null   float64
 13  HourlyWindDirection        925461 non-null  object
 14  HourlyWindSpeed            924185 non-null  object
 15  YEAR                       934807 non-null  int64
 16  MONTH                      934807 non-null  int64
 17  DAY                        934807 non-null  int64
 18  HOUR                       934807 non-null  int64
 19  MINUTES                    934807 non-null  int64
 20  SECONDS                    934807 non-null  int64
 21  TARGETS                    934807 non-null  object
dtypes: float64(6), int64(6), object(10)
memory usage: 164.0+ MB

In [5]:
def get_numeric(string):
    try:
        return float(string)
    except:
        if type(string) is str:
            reg = re.compile(r"(?P<num>-?\d+)(?P<dec>\.\d+)?")
            m = reg.match(string)
            if m:
                num = m.groupdict().get('num')
                dec = m.groupdict().get('dec')
                if dec:
                    return float(num+dec)
                else:
                    return float(num)
        else:
            return np.nan

In [6]:
print(df.HourlyAltimeterSetting.info())
df['HourlyAltimeterSetting'] = df['HourlyAltimeterSetting'].apply(get_numeric)
df.HourlyAltimeterSetting.info()

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyAltimeterSetting
Non-Null Count   Dtype
--------------   -----
217039 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyAltimeterSetting
Non-Null Count   Dtype
--------------   -----
217039 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB

In [7]:
print(df.HourlyDewPointTemperature.info())
df['HourlyDewPointTemperature'] = df['HourlyDewPointTemperature'].apply(get_numeric)
print(df.HourlyDewPointTemperature.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyDewPointTemperature
Non-Null Count   Dtype
--------------   -----
916829 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyDewPointTemperature
Non-Null Count   Dtype
--------------   -----
916829 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [8]:
print(df.HourlyDryBulbTemperature.info())
df['HourlyDryBulbTemperature'] = df['HourlyDryBulbTemperature'].apply(get_numeric)
print(df.HourlyDryBulbTemperature.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyDryBulbTemperature
Non-Null Count   Dtype
--------------   -----
923010 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyDryBulbTemperature
Non-Null Count   Dtype
--------------   -----
923010 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [9]:
print(df.HourlySeaLevelPressure.info())
df['HourlySeaLevelPressure'] = df['HourlySeaLevelPressure'].apply(get_numeric)
print(df.HourlySeaLevelPressure.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlySeaLevelPressure
Non-Null Count   Dtype
--------------   -----
670809 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlySeaLevelPressure
Non-Null Count   Dtype
--------------   -----
670809 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [10]:
print(df.HourlyStationPressure.info())
df['HourlyStationPressure'] = df['HourlyStationPressure'].apply(get_numeric)
print(df.HourlyStationPressure.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyStationPressure
Non-Null Count  Dtype
--------------  -----
24403 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyStationPressure
Non-Null Count  Dtype
--------------  -----
24403 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [11]:
print(df.HourlyWindSpeed.info())
df['HourlyWindSpeed'] = df['HourlyWindSpeed'].apply(get_numeric)
print(df.HourlyWindSpeed.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyWindSpeed
Non-Null Count   Dtype
--------------   -----
924185 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyWindSpeed
Non-Null Count   Dtype
--------------   -----
924185 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [12]:
print(df.HourlyWindDirection.info())
df['HourlyWindDirection'] = df['HourlyWindDirection'].apply(get_numeric)
print(df.HourlyWindDirection.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyWindDirection
Non-Null Count   Dtype
--------------   -----
925461 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: HourlyWindDirection
Non-Null Count   Dtype
--------------   -----
863718 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [13]:
print(df.TARGETS.info())
df['TARGETS'] = df['TARGETS'].apply(get_numeric)
print(df.TARGETS.info())

<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: TARGETS
Non-Null Count   Dtype
--------------   -----
934807 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB
None
<class 'pandas.core.series.Series'>
Int64Index: 934807 entries, 0 to 934806
Series name: TARGETS
Non-Null Count   Dtype
--------------   -----
934807 non-null  float64
dtypes: float64(1)
memory usage: 14.3 MB
None

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934807 entries, 0 to 934806
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   LATITUDE                   934807 non-null  float64
 1   LONGITUDE                  934807 non-null  float64
 2   ELEVATION                  934807 non-null  float64
 3   HourlyAltimeterSetting     217039 non-null  float64
 4   HourlyDewPointTemperature  916829 non-null  float64
 5   HourlyDryBulbTemperature   923010 non-null  float64
 6   HourlyPresentWeatherType   398691 non-null  object
 7   HourlyPressureTendency     586427 non-null  float64
 8   HourlyRelativeHumidity     916208 non-null  float64
 9   HourlySkyConditions        507788 non-null  object
 10  HourlySeaLevelPressure     670809 non-null  float64
 11  HourlyStationPressure      24403 non-null   float64
 12  HourlyWetBulbTemperature   24222 non-null   float64
 13  HourlyWindDirection        863718 non-null  float64
 14  HourlyWindSpeed            924185 non-null  float64
 15  YEAR                       934807 non-null  int64
 16  MONTH                      934807 non-null  int64
 17  DAY                        934807 non-null  int64
 18  HOUR                       934807 non-null  int64
 19  MINUTES                    934807 non-null  int64
 20  SECONDS                    934807 non-null  int64
 21  TARGETS                    934807 non-null  float64
dtypes: float64(14), int64(6), object(2)
memory usage: 164.0+ MB

In [18]:
df.to_csv("D:\College\Semester_6\ECS308-DSML\project\Spatiotemporal_Extreme_Event_Prediction_using_ML\database\clean_train_data_v2.csv")

In [25]:
df.HourlyPresentWeatherType.value_counts()

||HZ            282782
||DU             31236
||FG             25866
||FU             23421
||RA             18102
||TS              9219
||DZ              5861
||SHRA TS          823
||SHRA             260
||HZ DU            112
||FU HZ             96
||RA TS             95
||HZ RA             87
||FG FG             83
||SH                67
||FU FG             56
||FG RA             51
||TS RA             46
||DZ DZ             40
||HZ DZ             39
||s                 33
||RA RA             32
||HZ TS             30
||DU RA             21
||FC                21
||TS SHRA TS        20
||DU DU             18
||SQ                16
||DZ RA             15
||FG SHRA           11
||FG DZ             10
||FU TS              9
||HZ SHRA            9
||DRSN               8
||DU TS              8
||DU SHRA            7
||SHRASN             6
||FZRA               5
||DU TS RA           5
||FG RA TS           5
||HZ FG              5
||RA SHRA TS         4
|FU |                4
||HZ TS SHRA         3
||FZDZ               3
||SG                 3
||FU DU              3
||DU TS SHRA         3
||SHSN               3
||DU DZ              2
||HZ TS RA           2
||HZ RA TS           2
||DZ TS              2
||SHRA TS TS         2
||FU FG RA           2
||FG DU              1
||TS SHRA            1
||TS DU              1
||TS DZ              1
||FU DZ              1
||HZ DZ DZ           1
||FU RA              1
||PL                 1
||DU FG              1
||TS TS              1
|HZ |                1
|DZ |                1
||DZ SHRA TS         1
||HZ SHRA TS         1
||TS FG SHRA         1
||FU RA TS           1
||TS DU RA           1
Name: HourlyPresentWeatherType, dtype: int64

In [24]:
pd.set_option('display.max_rows', 100)