In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('../database/clean_train_data.csv', index_col = 0)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,12,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df.head()

,LATITUDE,LONGITUDE,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,...,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,SECONDS,TARGETS
0,26.760594,80.889339,124.96,NaN,61,100,||HZ,9.0,27.0,FEW:01 98,...,NaN,90,10,2013,5,5,11,30,0,2.49
1,26.760594,80.889339,124.96,30.06,55,61,NaN,NaN,83.0,SCT:04 20 SCT:04 100,...,NaN,VRB,2,2019,1,23,22,0,0,1.24
2,25.160219,75.845631,273.10,NaN,51,67,NaN,9.0,57.0,NaN,...,NaN,230,5,2005,2,17,8,30,0,2.49
3,26.760594,80.889339,124.96,NaN,41,94,||DU,9.0,16.0,NaN,...,NaN,0,0,1984,5,20,8,30,0,2.49
4,25.033333,88.133333,31.00,NaN,55,82,NaN,9.0,39.0,NaN,...,NaN,320,2,2016,11,16,11,30,0,2.49