In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [95]:
df = pd.read_csv('../database/clean_train_data_v4.csv', index_col = 0)

In [96]:
df.describe()

,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,TARGETS
count,9.192030e+05,919203.000000,441470.000000,919203.000000,919203.000000,919203.000000,861468.000000,919203.000000,919203.000000,798621.000000,794412.000000,919203.000000,919203.000000,919203.000000,919203.000000,919203.000000,919203.000000,919203.000000,919203.000000
mean,4.238918e+10,194.448363,29.752843,61.423622,77.901776,4.884348,8.651508,63.027406,29.762542,28.711330,69.633160,139.606996,3.646170,1999.155896,6.539268,15.706262,12.397482,24.582809,2.524561
std,1.304919e+08,298.783630,0.178794,13.998585,14.200455,3.702105,1.536231,24.069335,0.248068,2.167833,8.926286,126.304796,12.935033,19.765169,3.456301,8.787020,6.457664,11.543572,1.748580
min,4.203010e+10,31.000000,29.180000,-53.000000,-36.000000,0.000000,0.000000,1.000000,26.710000,13.680000,28.000000,0.000000,0.000000,1942.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,4.236910e+10,81.680000,29.629938,51.000000,68.000000,0.000000,9.000000,44.000000,29.580000,28.370000,64.000000,0.000000,0.000000,1987.000000,4.000000,8.000000,8.000000,30.000000,1.240000
50%,4.236910e+10,124.960000,29.725000,61.000000,81.000000,8.000000,9.000000,66.000000,29.760000,29.584638,71.325685,100.000000,2.000000,2005.000000,7.000000,16.000000,11.000000,30.000000,2.490000
75%,4.245210e+10,167.940000,29.880000,75.000000,88.000000,8.000000,9.000000,84.000000,29.940000,29.787901,77.060741,270.000000,6.000000,2016.000000,10.000000,23.000000,17.000000,30.000000,2.490000
max,4.267210e+10,3066.000000,30.300000,97.000000,137.000000,8.000000,9.000000,100.000000,32.180000,31.650000,91.000000,360.000000,2237.000000,2021.000000,12.000000,31.000000,23.000000,55.000000,14.910000

In [97]:
df.head()

,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySkyConditions,HourlySeaLevelPressure,HourlyStationPressure,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,TARGETS
0,42030099999,3066.0,NaN,61.00,81.0,8,NaN,66.0,0 0,29.78,NaN,NaN,0.0,0.0,1944,1,3,8,30,0.62
1,42030099999,3066.0,NaN,2.00,3.0,8,NaN,95.0,0 0,29.77,NaN,NaN,0.0,0.0,1944,1,7,8,30,0.62
2,42030099999,3066.0,NaN,3.75,14.0,8,NaN,95.0,0 0,29.74,NaN,NaN,0.0,0.0,1944,1,8,8,30,0.31
3,42030099999,3066.0,NaN,5.50,11.0,8,NaN,95.0,0 0,29.71,NaN,NaN,0.0,0.0,1944,1,22,8,30,0.62
4,42030099999,3066.0,NaN,7.25,7.0,8,NaN,95.0,0 0,29.49,NaN,NaN,0.0,0.0,1944,2,12,8,30,2.49

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 919202
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   919203 non-null  int64
 6   HourlyPressureTendency     861468 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySkyConditions        498095 non-null  object
 9   HourlySeaLevelPressure     919203 non-null  float64
 10  HourlyStationPressure      798621 non-null  float64
 11  HourlyWetBulbTemperature   794412 non-null  float64
 12  HourlyWindDirection        919203 non-null  float64
 13  HourlyWindSpeed            919203 non-null  float64
 14  YEAR                       919203 non-null  int64
 15  MONTH                      919203 non-null  int64
 16  DAY                        919203 non-null  int64
 17  HOUR                       919203 non-null  int64
 18  MINUTES                    919203 non-null  int64
 19  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(7), object(1)
memory usage: 147.3+ MB

In [99]:
df.drop(['HourlySkyConditions'], axis = 1, inplace = True)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 919202
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   919203 non-null  int64
 6   HourlyPressureTendency     861468 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySeaLevelPressure     919203 non-null  float64
 9   HourlyStationPressure      798621 non-null  float64
 10  HourlyWetBulbTemperature   794412 non-null  float64
 11  HourlyWindDirection        919203 non-null  float64
 12  HourlyWindSpeed            919203 non-null  float64
 13  YEAR                       919203 non-null  int64
 14  MONTH                      919203 non-null  int64
 15  DAY                        919203 non-null  int64
 16  HOUR                       919203 non-null  int64
 17  MINUTES                    919203 non-null  int64
 18  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(7)
memory usage: 140.3 MB

# There are a lot of missing values altimeter, we try training the model with and without it and record both the results.

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 0 to 919202
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    919203 non-null  int64
 1   ELEVATION                  919203 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  919203 non-null  float64
 4   HourlyDryBulbTemperature   919203 non-null  float64
 5   HourlyPresentWeatherType   919203 non-null  int64
 6   HourlyPressureTendency     861468 non-null  float64
 7   HourlyRelativeHumidity     919203 non-null  float64
 8   HourlySeaLevelPressure     919203 non-null  float64
 9   HourlyStationPressure      798621 non-null  float64
 10  HourlyWetBulbTemperature   794412 non-null  float64
 11  HourlyWindDirection        919203 non-null  float64
 12  HourlyWindSpeed            919203 non-null  float64
 13  YEAR                       919203 non-null  int64
 14  MONTH                      919203 non-null  int64
 15  DAY                        919203 non-null  int64
 16  HOUR                       919203 non-null  int64
 17  MINUTES                    919203 non-null  int64
 18  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(7)
memory usage: 140.3 MB

#### Now dropping the rows with null values

In [102]:
df.dropna(axis = 0, inplace = True)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441470 entries, 1196 to 916266
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STATION                    441470 non-null  int64
 1   ELEVATION                  441470 non-null  float64
 2   HourlyAltimeterSetting     441470 non-null  float64
 3   HourlyDewPointTemperature  441470 non-null  float64
 4   HourlyDryBulbTemperature   441470 non-null  float64
 5   HourlyPresentWeatherType   441470 non-null  int64
 6   HourlyPressureTendency     441470 non-null  float64
 7   HourlyRelativeHumidity     441470 non-null  float64
 8   HourlySeaLevelPressure     441470 non-null  float64
 9   HourlyStationPressure      441470 non-null  float64
 10  HourlyWetBulbTemperature   441470 non-null  float64
 11  HourlyWindDirection        441470 non-null  float64
 12  HourlyWindSpeed            441470 non-null  float64
 13  YEAR                       441470 non-null  int64
 14  MONTH                      441470 non-null  int64
 15  DAY                        441470 non-null  int64
 16  HOUR                       441470 non-null  int64
 17  MINUTES                    441470 non-null  int64
 18  TARGETS                    441470 non-null  float64
dtypes: float64(12), int64(7)
memory usage: 67.4 MB

In [104]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

In [105]:
cols = []
for i in df.columns:
    print(i)
    if df[i].dtype != 'O':
        cols.append(i)

STATION
ELEVATION
HourlyAltimeterSetting
HourlyDewPointTemperature
HourlyDryBulbTemperature
HourlyPresentWeatherType
HourlyPressureTendency
HourlyRelativeHumidity
HourlySeaLevelPressure
HourlyStationPressure
HourlyWetBulbTemperature
HourlyWindDirection
HourlyWindSpeed
YEAR
MONTH
DAY
HOUR
MINUTES
TARGETS

In [106]:
cols.pop()

'TARGETS'

In [107]:
cols

['STATION',
 'ELEVATION',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPresentWeatherType',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySeaLevelPressure',
 'HourlyStationPressure',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindSpeed',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'MINUTES']

In [108]:
def adjusted_r2(r2, n, p):
    return 1 - (1 - r2)*(n - 1)/(n - p - 1)

In [109]:
X = df[cols] 
y = df['TARGETS']
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Linear Regression

In [110]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [111]:
y_pred = lr.predict(X_test)

In [119]:
r2 = r2_score(y_pred, y_test)
r2

-0.17709735443789199

In [120]:
X_test.shape

(110368, 18)

In [121]:
adj_r2 = adjusted_r2(r2, y_test.shape[0], X_test.shape[1]) 
adj_r2

-0.17728936118357952

In [122]:
mae = mean_squared_error(y_pred, y_test)
mae

0.4595035062887389

In [ ]:
model_results = pd.read_csv('model_results.csv', index_col = 0)

In [123]:
model_results.loc[len(model_results)] = ['lr with altimeter, no tuning', 
                                        mae, adj_r2]

In [126]:
model_results

                                          comment       mse    adj_r2
0  linear regression without altimeter, no tuning  0.823926 -1.097547
1      random forest without altimeter, no tuning  0.324474  0.643707
2                    lr with altimeter, no tuning  0.459504 -0.177289

In [127]:
model_results.to_csv('model_results.csv')

## Random Forest

In [128]:
import time

In [129]:
t = time.time()
rf = RandomForestRegressor(n_estimators = 100, verbose = 5)
rf.fit(X_train, y_train)
print(f"Time taken: {time.time()-t}")

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

building tree 1 of 100

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.5s remaining:    0.0s

building tree 2 of 100

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    9.2s remaining:    0.0s

building tree 3 of 100

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   13.6s remaining:    0.0s

building tree 4 of 100

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:   18.4s remaining:    0.0s

building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100
Time taken: 380.2644109725952

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  6.3min finished

In [130]:
y_pred = rf.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    4.0s finished

In [132]:
r2 = r2_score(y_pred, y_test)
r2

0.7367705911855371

In [133]:
adj_r2 = adjusted_r2(r2, y_test.shape[0], X_test.shape[1]) 
adj_r2

0.736727653511805

In [135]:
mae = mean_squared_error(y_pred, y_test)
mae

0.1770139612623558

In [136]:
model_results = pd.read_csv('model_results.csv', index_col = 0)

In [137]:
model_results.loc[len(model_results)] = ['random forest wiht altimeter, no tuning', 
                                        mae, r2]

In [139]:
model_results

                                          comment       mse    adj_r2
0  linear regression without altimeter, no tuning  0.823926 -1.097547
1      random forest without altimeter, no tuning  0.324474  0.643707
2                    lr with altimeter, no tuning  0.459504 -0.177289
3         random forest wiht altimeter, no tuning  0.177014  0.736771

In [138]:
model_results.to_csv('model_results.csv')