In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../database/clean_train_data_v4.csv', index_col = 0)

In [29]:
df.describe()

,index,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,TARGETS
count,934807.000000,9.348070e+05,934807.000000,934807.000000,934807.00000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000,934807.000000
mean,467403.000000,4.238809e+10,202.016849,29.852842,61.27554,77.832343,4.932852,8.649413,62.896648,29.783154,28.429913,68.506581,140.177717,3.686077,1998.302415,6.548522,15.709282,12.398873,24.664056,3.599834
std,269855.680883,1.313338e+08,325.431435,0.162720,14.13618,14.328578,3.693069,1.480527,24.121272,0.321782,2.587239,10.359068,126.314951,12.849299,20.717157,3.457547,8.786463,6.440843,11.475579,9.529686
min,0.000000,4.203010e+10,31.000000,29.180000,-53.00000,-36.000000,0.000000,0.000000,1.000000,26.710000,13.680000,28.000000,0.000000,0.000000,1942.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,233701.500000,4.236910e+10,81.680000,29.740000,50.00000,68.000000,0.000000,9.000000,44.000000,29.580000,28.154651,62.982704,0.000000,0.000000,1986.000000,4.000000,8.000000,8.000000,30.000000,1.240000
50%,467403.000000,4.236910e+10,124.960000,29.880000,61.00000,81.000000,8.000000,9.000000,66.000000,29.770000,29.561582,71.046325,106.666667,2.000000,2005.000000,7.000000,16.000000,11.000000,30.000000,2.490000
75%,701104.500000,4.245210e+10,167.940000,29.983846,75.00000,88.000000,8.000000,9.000000,84.000000,29.950000,29.796630,77.000000,270.000000,6.000000,2016.000000,10.000000,23.000000,17.000000,30.000000,2.490000
max,934806.000000,4.267210e+10,3066.000000,30.300000,97.00000,137.000000,8.000000,9.000000,100.000000,32.180000,31.650000,91.000000,360.000000,2237.000000,2021.000000,12.000000,31.000000,23.000000,55.000000,99.420000

In [30]:
df = df[df['TARGETS'] < 15]

In [31]:
df.head()

,index,STATION,ELEVATION,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPresentWeatherType,HourlyPressureTendency,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindSpeed,YEAR,MONTH,DAY,HOUR,MINUTES,TARGETS
1,691852,42030099999,3066.0,29.88,61.0,-10.5,8,9.0,66.00,29.78,29.561582,71.046325,0.0,0.0,1944,1,3,8,30,0.62
2,310980,42030099999,3066.0,29.88,2.0,3.0,8,9.0,95.00,29.77,29.561582,71.046325,0.0,0.0,1944,1,7,8,30,0.62
3,774817,42030099999,3066.0,29.88,-5.0,14.0,8,9.0,95.50,29.74,29.561582,71.046325,0.0,0.0,1944,1,8,8,30,0.31
10,329145,42030099999,3066.0,29.88,-22.5,11.0,8,9.0,81.75,29.71,29.561582,71.046325,0.0,0.0,1944,1,22,8,30,0.62
26,703172,42030099999,3066.0,29.88,-25.6,7.0,8,9.0,70.20,29.49,29.561582,71.046325,0.0,0.0,1944,2,12,8,30,2.49

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919203 entries, 1 to 934806
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      919203 non-null  int64
 1   STATION                    919203 non-null  int64
 2   ELEVATION                  919203 non-null  float64
 3   HourlyAltimeterSetting     919203 non-null  float64
 4   HourlyDewPointTemperature  919203 non-null  float64
 5   HourlyDryBulbTemperature   919203 non-null  float64
 6   HourlyPresentWeatherType   919203 non-null  int64
 7   HourlyPressureTendency     919203 non-null  float64
 8   HourlyRelativeHumidity     919203 non-null  float64
 9   HourlySeaLevelPressure     919203 non-null  float64
 10  HourlyStationPressure      919203 non-null  float64
 11  HourlyWetBulbTemperature   919203 non-null  float64
 12  HourlyWindDirection        919203 non-null  float64
 13  HourlyWindSpeed            919203 non-null  float64
 14  YEAR                       919203 non-null  int64
 15  MONTH                      919203 non-null  int64
 16  DAY                        919203 non-null  int64
 17  HOUR                       919203 non-null  int64
 18  MINUTES                    919203 non-null  int64
 19  TARGETS                    919203 non-null  float64
dtypes: float64(12), int64(8)
memory usage: 147.3 MB

In [33]:
df.drop(['HourlySkyConditions'], axis = 1, inplace = True)

KeyError: "['HourlySkyConditions'] not found in axis"

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

In [35]:
cols = []
for i in df.columns:
    print(i)
    if df[i].dtype != 'O':
        cols.append(i)

index
STATION
ELEVATION
HourlyAltimeterSetting
HourlyDewPointTemperature
HourlyDryBulbTemperature
HourlyPresentWeatherType
HourlyPressureTendency
HourlyRelativeHumidity
HourlySeaLevelPressure
HourlyStationPressure
HourlyWetBulbTemperature
HourlyWindDirection
HourlyWindSpeed
YEAR
MONTH
DAY
HOUR
MINUTES
TARGETS

In [36]:
cols.pop()

'TARGETS'

In [37]:
cols

['index',
 'STATION',
 'ELEVATION',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPresentWeatherType',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySeaLevelPressure',
 'HourlyStationPressure',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindSpeed',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'MINUTES']

In [38]:
def adjusted_r2(r2, n, p):
    return 1 - (1 - r2)*(n - 1)/(n - p - 1)

In [39]:
X = df[cols] 
y = df['TARGETS']
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Linear Regression

In [40]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [41]:
y_pred = lr.predict(X_test)

In [42]:
r2_score(y_pred, y_test)

-0.9793419744178671

In [43]:
X_test.shape

(229801, 19)

In [45]:
adj_r2 = adjusted_r2(-0.9793419744178671, y_test.shape[0], X_test.shape[1]) 
adj_r2

-0.9795056411157834

In [46]:
mean_squared_error(y_pred, y_test)

2.0363560136044154

## Random Forest

In [47]:
import time

In [50]:
t = time.time()
rf = RandomForestRegressor(n_estimators = 100)
rf.fit(X_train, y_train)
print(f"Time taken: {time.time()-t}")

Time taken: 1949.1138908863068

In [51]:
y_pred = rf.predict(X_test)

In [52]:
r2_score(y_pred, y_test)

0.7074759858979455

In [54]:
adj_r2 = adjusted_r2(0.7074759858979455, y_test.shape[0], X_test.shape[1]) 
adj_r2

0.7074517978394552

In [55]:
mean_squared_error(y_pred, y_test)

0.6969150494261123

In [ ]:
model_results = pd.DataFrame({'comment': 'linear regression with simple interpolation and no parameter tuning', 
                             'mae': 71.97515291657187})

In [25]:
y_train.describe()

count    701105.000000
mean          3.603664
std           9.545335
min           0.000000
25%           1.240000
50%           2.490000
75%           2.490000
max          99.420000
Name: TARGETS, dtype: float64